<!DOCTYPE html>
<html website="<%= host %>" date="<%= date %>">
<head>
    <% include ../template/head %>
    <style>
        .nav-bar .is-active {
            color: #3273dc !important;
        }

        .nav-bar::before {
            content: "文章分类...";
            transform: scale(.76);
            color: #7a7a7a
        }

        @media screen and (max-width: 1087px) {
            .breadcrumb ol, .breadcrumb ul {
                flex-direction: column;
            }

            .breadcrumb li:before {
                color: #b5b5b5;
                content: "\02022";
            }

            .breadcrumb li:first-child a {
                padding-left: 0.75em;
            }
        }
    </style>
</head>
<body>
<!-- Welcome to <%= host %> -->
<section class="hero is-white is-fullheight transition-all" id="content-m">
    <div class="hero-head animated fadeInDown">
    <% include ../template/header %>
    </div>
    <div class="hero-body">
        <div class="container">
            <div class="field is-grouped is-grouped-centered animated fadeInDown">
                <div class="control">
                    <input id="search-input" class="input" type="text" placeholder="Find articles" value="<%= keyword %>">
                </div>
                <div class="control" onclick="search()">
                    <a class="button is-info">
                        <i class="fas fa-search padding-right-half"></i>Search
                    </a>
                </div>
            </div>
            <div id="content-c">
                <nav class="breadcrumb has-bullet-separator" aria-label="breadcrumbs">
                    <ul class="animated slideInLeft nav-bar">
                        <% types.forEach(item=>{ %>
                            <li>
                                <a class="<%= type === item ? 'is-active' : '' %>"
                                   href="/article?type=<%= item %>&keyword=<%= keyword %>"><%= item %>
                                </a>
                            </li>
                        <% }) %>
                    </ul>
                </nav>
                <% if (articles.length) { %>
                <div class="columns animated fadeInUp">
                    <% articles.forEach(article=>{ %>
                        <div class="column is-one-fifth animated zoomIn">
                            <a href="/article/<%= article.type %>/<%= article.title %>">
                                <div class="card">
                                    <div class="card-image">
                                        <figure class="image is-2by1">
                                            <img src="data:image/jpg;base64,<%= article.cover %>" alt="Placeholder image">
                                        </figure>
                                    </div>
                                    <div class="card-content content padding-1rem">
                                        <p class="subtitle is-7"><i class="fas fa-file-word padding-right-half"></i><%= article.title %></p>
                                        <p class="subtitle is-7"><i class="fas fa-clock padding-right-half"></i><%= new Date(article.time).toLocaleDateString() %>，GMT+0800</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    <% }) %>
                </div>
                <% } %>
                <% if (!articles.length) { %>
                    <p class="has-text-centered has-text-grey-dark padding-1rem animated fadeInUp">书山有路勤为径，学海无涯苦作舟。<sub>&nbsp;—&nbsp;&nbsp;韩愈</sub></p>
                <% } %>
            </div>
        </div>
    </div>
</section>
</body>
<script>
  var $s = document.getElementById('search-input'),
      $c = document.getElementById('content-m');
  $s.onfocus = function () {
    $c.classList.add('is-light');
    $c.classList.remove('is-white');
  }
  $s.onblur = function () {
    $c.classList.add('is-white');
    $c.classList.remove('is-light');
  }

  $s.onkeydown = function(event){
    if (event.keyCode === 13) {
      event.keyCode = 0;
      event.returnValue = false;
      search();
    }
  }

  function search(){
    if($s.value.replace(/\s/gm, '').length){
      location.href = location.origin + location.pathname + '?keyword=' + $s.value + '&type=' + '<%= type %>';
    }
  }
</script>
</html>