<!DOCTYPE html>
<html website="<%= host %>" date="<%= date %>">
<head>
    <% include ../template/head %>
    <link rel="stylesheet" href="/atom-one-light.css">
    <script src="/highlight.pack.js"></script>
    <style>
        .container.is-widescreen {
            max-width: 100%;
            /*word-wrap:break-word;
            white-space:normal;
            word-break:break-all;
            overflow:hidden;*/
        }

        .markdown-content a{
            color: #3273dc !important;
        }

        .markdown-content img {
            box-shadow: 0 0 3px rgba(10,10,10,.5);
        }

        @media screen and (min-width: 1087px) {
            .markdown-content img {
                max-width: 50%;
                margin: auto;
            }
        }
    </style>
</head>
<body>
<!-- Welcome to <%= host %> -->
<section class="hero is-white is-fullheight">
    <div class="hero-head hero is-dark">
        <% include ../template/header %>
    </div>
    <div class="hero-body">
        <div class="container is-widescreen">
            <div class="content is-8 hero animated fadeIn markdown-content">
                <%- content %>
            </div>
        </div>
    </div>
    <div class="hero-foot">
        <footer class="footer hero is-dark padding-1rem">
            <div class="container">
                <p class="text-left">文章勘误？去
                    <i class="fab fa-github"></i>
                    提交
                    <a class="link-color" target="_blank"
                       href="https://github.com/noteScript/new_blog/issues/new">ISSUE</a>
                    修正本文。
                </p>
                <p class="text-right"><%- copyright %></p>
            </div>
        </footer>
    </div>
</section>
</body>
<script>hljs.initHighlightingOnLoad()</script>
</html>