<!DOCTYPE html>
<html website="<%= host %>" date="<%= date %>">
<head>
    <% include ../template/head %>
    <link rel="stylesheet" href="/atom-one-light.css">
    <script src="/highlight.pack.js"></script>
    <style>
        .container.is-widescreen {
            width: 100%;
            /*word-wrap:break-word;
            white-space:normal;
            word-break:break-all;
            overflow:hidden;*/
        }
    </style>
</head>
<body>
<!-- Welcome to <%= host %> -->
<section class="hero is-white is-fullheight">
    <div class="hero-head hero is-dark">
        <% include ../template/header %>
    </div>
    <div class="hero-body">
        <div class="container is-widescreen">
            <div class="content is-8 hero animated fadeIn markdown-content">
                <%- content %>
            </div>
        </div>
    </div>
    <div class="hero-foot">
        <footer class="footer hero is-dark padding-1rem">
            <div class="container">
                <p class="text-left">文章勘误？去
                    <i class="fab fa-github"></i>
                    提交
                    <a class="link-color" target="_blank"
                       href="https://github.com/noteScript/new_blog/issues/new">ISSUE</a>
                    修正本文。
                </p>
                <p class="text-right"><%- copyright %></p>
            </div>
        </footer>
    </div>
</section>
<div class="modal animated" id="images-preview">
    <div class="modal-background" onclick="closePreview()"></div>
    <div class="modal-content">
        <div class="image">
            <img alt="preview-image" onclick="closePreview()" style="cursor: zoom-out">
        </div>
    </div>
    <!--<button class="modal-close is-large" aria-label="close" onclick="closePreview()"></button>-->
</div>
</body>
<script type="application/javascript">
    hljs.initHighlightingOnLoad(); // javaScript Highlight

    var $images = document.querySelectorAll('.markdown-content img');
    var $previewEl = document.getElementById('images-preview');
    var $previewImage = document.querySelector('#images-preview img');
    for (var i=0;i<$images.length;i++) {
      $images[i].onclick = function(){
        $previewImage.setAttribute('src',this.getAttribute('src'));
        $previewEl.classList.remove('bounceOutDown');
        $previewEl.classList.add('bounceInRight');
        $previewEl.classList.add('is-active');
        return false;
      };
    }

    function closePreview(){
      $previewEl.classList.remove('bounceInRight');
      $previewEl.classList.add('bounceOutDown');
      var closeOut = setTimeout(function(){
        $previewEl.classList.remove('is-active');
        clearTimeout(closeOut);
      },1000)
      return false;
    }
</script>
</html>